.navbar {
  .navbar-item img {
    max-height: 80px;
  }
  .navbar-burger {
    color: $primary;
    background-color: $primary-light;
    height: auto;
  }
  .is-link-active {
    font-weight: 700;
  }
}
